<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}" method="post">

    <input type="text" th:field="*{username}" id="name" placeholder="Name" th:value="${user.username}">
    <label for="password">UserName</label>

    <input type="text" th:field="*{age}" id="age" placeholder="Age" th:value="${user.age}">
    <label for="password">Age</label>

    <input type="text" th:field="*{profession}" id="profession" placeholder="Profession" th:value="${user.profession}">
    <label for="password">Profession</label>

    <input type="text" th:field="*{password}" id="password" placeholder="Password" th:value="${user.password}">
    <input type="submit" value="Update User">
    <p>
        <label>Roles:
            <input type="checkbox" name="authorities"
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:checked="${user.roles.contains(role)}"
            />
        </label>
    </p>
</form>
<a th:href="@{/logout}">logout</a>
</body>
</html>