<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/new}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{username}" id="name" placeholder="Name">

    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">

    <label for="profession">Profession</label>
    <input type="text" th:field="*{profession}" id="profession" placeholder="Profession">

    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <p>
        <label>Roles:
            <input type="checkbox" name="authorities"
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
            />
        </label>
    </p>
    <input type="submit" value="Add User">
</form>
<a th:href="@{/logout}">logout</a>
</body>
</html>